body {
  background-color: #6c757d;
  font-family: "Roboto", sans-serif;
}

img {
  width: 50px;
}

.title {
  text-align: center;
}

.container {
  height: 100vh;
  padding-top: 4rem;
}

.right-option-column {
  text-align: end;
}

.options-container {
  padding-bottom: 90px;
}
.menu-buttons {
  width: 400px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.menu-buttons:hover {
  transform: scale(1.1);
}

#resource-button {
  padding-right: 160px;
}

#gems {
  padding-right: 220px;
}

#equipment {
  padding-right: 150px;
}

#speedups {
  padding-right: 110px;
}
#vip {
  padding-right: 200px;
}

#ap {
  padding-right: 80px;
}

.menu-options {
  position: relative;
  top: 5px;
}
